---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, current, desire } = basics;
---

<Section title="自己紹介" class="max-w-[35rem] leading-relaxed">
  <p>
    {summary}
  </p>
  <p>
    {current}
  </p>
  <p>
    {desire}
  </p>
</Section>
