---
import Section from "../Section.astro";
import { basics } from "@cv";

const { current, desire } = basics;
---

<Section className={Astro.props.className} title="働き方">
  <div>
    <h3 class="pb-2 text-lg">現状</h3>
    <p class="max-w-[35rem] leading-relaxed">{current}</p>
  </div>
  <div>
    <h3 class="pb-2 text-lg">希望</h3>
    <p class="max-w-[35rem] leading-relaxed">{desire}</p>
  </div>
</Section>
