---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Development from "@/components/sections/Development.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
import Projects from "@/components/sections/Projects.astro";
import WorkStyle from "@/components/sections/WorkStyle.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} Portfolio - ${label}`}>
  <main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6 print:px-16 print:py-8">
    <div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:gap-5 print:space-y-0">
      <Hero />
      <About />
      <ThemeSwitch />
    </div>
    <div class="space-y-12 md:col-span-4 print:col-span-1 print:grid-cols-4 print:space-y-8">
      <WorkStyle />
      <Experience />
      <Projects />
      <Development className="print:hidden" />
      <Skills />
      <!-- <Education className="order-first" /> -->
    </div>
    <Tail />
  </main>

  <KeyboardManager />
</Layout>

<style>
  @page {
    size: A4;
    margin: 1cm;
  }
  main {
    margin: auto;
    width: 100%;
  }
</style>
